.tweet-container-modal{
    width: 100px;
    height: 100px;
    position:absolute;
    top: 40vh;
    left: 70vw;
}

.tweet-container-modal button{
    margin-top:15px;
    width: 10vw;
    border-radius: 10px;
    padding:5px;
}

.tweet-container-modal button:hover{
    background-color: rgb(144, 189, 228);
}


.hide-modal{
    display: none;

}

.tweet-container-modal .ul_container{
    position:absolute;
    top:-100px;
    left:-680px;
    background-color:#e2e2a4;
    border-radius:10px;
    width: 49vw;
    border: 2px dashed black;
}